body { 
  font-size: 12px;
  background:#FFFFFF none repeat scroll 0% 0%;
  font-family: 'Bookman Old Style', serif;
}

h1,h2,h3,h4 { 
    font-family: Arial, Helvetica, sans-serif; 
    color: #001155;
}

h1 { font-size: 2em; margin: 0.5em 0; }
h2 { font-size: 1.5em; margin: 0.5em 0; }
h3 { font-size: 1em; margin: 0.5em 0; }

div.wrapper {
    width: 480px;
    margin: 0 auto;
}

a, a:visited {
  color: #001155;
}

a:hover {
  background: #88CCDD;
}

img { border:none; }

a.image:hover { background: #FFFFFF; }

#header {
  background: #0066AA;
  padding: 1em 0 0 0;
  border-bottom: 0.8em solid #88CCDD;
  text-align: right;
}

#header div#title { 
  font-size: 3em; 
  color: #88CCDD;
  font-family: Impact, Charcoal, sans-serif;
  margin: 0; padding: 0;
  text-align: right;
}

#header div#title a, div#title h1 a:hover {
  text-decoration: none;
  color: #88CCDD;
  background: #0066AA;
}

#subtitle { 
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; 
  color: #001155;
  text-align: right;
  font-size: medium;
  margin-bottom: 1em;
}

#footer {
  margin-top: 1em; 
  padding: 1em 0;
  background: #fff;
  border-top: .5em solid #0066aa;
}

div.post_meta { text-align: right; margin-top: 1em; font-size:14px; }

ul.meta, p.meta { float: left; margin-right: 3em; }
ul.meta li { line-height: 1.5em; }

ul.posts, ul.projects { font-size: larger; line-height: 1.5em; }

div#post ul li {
    line-height: 1.5em;
    padding: 0 1em; 
}

div#post dl { font-size: 14px; }
div#post dl dd { margin-bottom: 1em; }

blockquote {
  font-style: italic;
  padding: 0 1.5em;
}

pre {
  background:black none repeat scroll 0% 0%;
  color: white;
  border-color:#BBBBBB rgb(221, 221, 221) rgb(221, 221, 221) rgb(187, 187, 187);
  border-style:solid;
  border-width:1px;
  line-height:1.5;
  margin: 1em 1em;
  overflow:auto;
  padding:1em;
}

code { font-size: 1.2em;}

code.shell { font-family: "DejaVu Sans Mono", Monaco, "Bitstream Vera Sans Mono", monospaced; white-space: pre; font-weight: normal; color: white; background: black; display: block; padding: 0.75em; overflow: auto; font-size: 1em; line-height: 1.5em; margin: 0.75em 0;}

p { margin-bottom: 1em; font-size: 14px; line-height: 1.25em; }

p.meta { font-size: 16px; font-weight: bold; margin-bottom: auto; }

div.date { width:30%; float:left; }
div.date, div.title { display:inline; }
span.spacer { padding: 0 1em; }