<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head profile="http://gmpg.org/xfn/11">
    <title>{{ page.title }}</title>
    <link href="/css/reset.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/css/styles.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="http://feeds2.feedburner.com/grokblok" rel="alternate" 
          title="Atom" type="application/atom+xml" />
  </head>
  <body id="home">
    <div id="header">
      <div class="wrapper">
        <div id="title"><a href="/">GrokBlok</a></div>
        <div id="subtitle">stranger in a strange land</div>
        </div><!-- end of wrapper -->
      <div class="clear"></div>
    </div><!-- end of header -->
    <div class="wrapper" id="content">
      {{ content }}
    </div><!-- end of content -->
    <div id="footer" class="wrapper">
      <ul class="meta">
        <li><a href="http://jschairb.mp">jschairb.mp</a></li>
        <li><a href="http://twitter.com/ch0wda">Twitter</a></li>
        <li><a href="http://github.com/ch0wda">github</a></li>
      </ul>
      <ul class="meta">
        <li><a href="http://www.linkedin.com/in/jschairb" class="image"><img src="http://www.linkedin.com/img/webpromo/btn_liprofile_blue_80x15.gif" width="80" height="15" alt="View Joshua Schairbaum's profile on LinkedIn" /></a></li>
      </ul>
      <ul class="meta">
        <li><a href="http://feeds.feedburner.com/grokblok" class="image"><img src="http://feeds.feedburner.com/~fc/grokblok?bg=88ccdd&amp;fg=001155&amp;anim=1" height="26" width="88" style="border:0" alt="" /></a></li>        
      </ul>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-1518490-2");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
  </body>
</html>
